.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: -15px 0px 30px 0px;
    flex-wrap: wrap;
    padding: 0px 17px 0px 17px;
}

.btns {
    width: 99%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: end;
}

.btns button {
    width: 100px;
    height: 35px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0px rgb(206, 206, 206);
}

.btns button:nth-child(1):hover {
    background-color: rgb(252, 39, 39);
    color: white;
    transition: 0.1s ease-in;
}

.btns button:nth-child(2):hover {
    background-color: rgb(0, 204, 78);
    color: white;
    transition: 0.1s ease-in;
}

.btns button span {
    margin: 5px;
}

.btns button:nth-child(1) {
    margin-right: 2px;
    border: 1px solid rgb(252, 39, 39);
    color: rgb(252, 39, 39);
}

.btns button:nth-child(2) {
    border: 1px solid rgb(0, 204, 78);
    color: rgb(0, 204, 78);
}