@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

main {
    background-color: rgb(245, 245, 245);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100% !important;
}

input:disabled {
    cursor: not-allowed;
}

.cards {
    background-color: white;
    width: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgb(206, 206, 206);
    border-radius: 5px;
}

.cards:nth-child(1) {
    margin-bottom: 20px;
}

.cards_container {
    width: 100%;
    display: flex;
}

h2 {
    margin: 10px 0px 5px 10px;
    color: #1976d2;
}